{% extends 'base.html' %}

{% block content %}
    <h1>{{judul}}</h1>

    <h5>Seller name: </h5>
    <p>{{ name }}<p>

    <h5>The Items: </h5>
    <p>{{ item }}<p>

    <h5>Price: </h5>
    <p>{{ price }}<p>

    <h5>Address: </h5>
    <p>{{ adress }}<p>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

{% endblock content %}